# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
venv/
ENV/
*.egg-info/
dist/
build/

# Node
node_modules/
frontend/dist/
frontend/dist-ssr/
*.local

# Database & Vectors
database/vector_db/*.faiss
database/vector_db/*.pkl
*.sqlite3

# Logs & OS
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
